@using Microsoft.AspNet.Identity.EntityFramework;
@using GISMVC.Data
@using GISMVC.Models

@{
    string responseOrgid = "";
    string responseOuname = "";
    responseOrgid = ""; //Utility.GetCookieValueFromResponse(Context.Response, "org_id");
    responseOuname = "";// Utility.GetCookieValueFromResponse(Context.Response, "ou_name");
    UsuarioPortal user = new UsuarioPortal();
    user = AuthHelper.GetLoggedInUserInfoV2();

    var usuario = new AspNetUsers();
    if (user != null)
    {
        usuario = user.usuario;
    }
    else
    {
        usuario = AspNetUsers.GetByName(Context.User.Identity.Name);
        user = new UsuarioPortal();
        user.usuario = usuario;
        user.accesos = AccesoVistas.GetFromUsuario(usuario.id);
        user.negocios = proc_AccesoUsuarioNegocio.GetFromUsuario(usuario.id);

        AuthHelper.SignInV2(user);
    }
    PortalSideBar accesos = PortalSideBar.Get(user.accesos);
    var z = 0;
    //var accesos = AccesoVistas.GetFromUsuario(data.id);
    //var negocios = proc_AccesoUsuarioNegocio.GetFromUsuario(data.id);
}
<script type="text/javascript">
    var eu_lu = {
        id: "@usuario.id",
        name: "@usuario.name",
        uname: "@usuario.username",
        role: {
            id: "@usuario.roles.id",
            desc: "@usuario.roles.descripcion"
        }
    };
</script>
<aside class="page-sidebar">
    <div class="page-logo">
        <a href="~/Admin" class="page-logo-link press-scale-down d-flex align-items-center position-relative">
            <img src="~/Content/images/gis-logo-gris.png" id="lg-logo" alt="Logo" aria-roledescription="logo">
            <!--<img src="~/Content/images/80x80.png" id="xs-logo" alt="Logo" aria-roledescription="logo">-->
            <span class="position-absolute text-white opacity-50 small pos-top pos-right mr-2 mt-n2"></span>
        </a>
    </div>
    <nav id="js-primary-nav" class="primary-nav" role="navigation">
        <ul id="js-nav-menu" class="nav-menu">
            @if (accesos.administracion)
            {
                if (accesos.adm_usuarios)
                {
                    <li class="">
                        <a href="#" title="Usuarios" data-filter-tags="Usuarios">
                            <i class='fa fa-plus-circle'></i>
                            <span class="nav-link-text" data-i18n="Usuarios">Usuarios</span>
                        </a>
                        <ul>
                            <li class="">
                                <a href="~/Administracion/Usuarios" title="Usuarios" data-filter-tags="Usuarios">
                                    <span class="nav-link-text" data-i18n="Usuarios">Usuarios</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                }
                if (accesos.adm_roles)
                {
                    <li class="">
                        <a href="#" title="Roles" data-filter-tags="Roles">
                            <i class='fa fa-plus-circle'></i>
                            <span class="nav-link-text" data-i18n="Roles">Roles</span>
                        </a>
                        <ul>
                            <li class="">
                                <a href="~/Administracion/Roles" title="Roles" data-filter-tags="Roles">
                                    <span class="nav-link-text" data-i18n="Roles">Roles</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                }
            }
            @if (accesos.pi)
            {

                <li class="" data-filter-tags="Inicio Portal Propiedad Intelectual">
                    <a href="~/PI/Index" title="Usuarios" data-filter-tags="Inicio Portal Propiedad Intelectual">
                        <i class='fa fa-home'></i>
                        <span class="nav-link-text" data-i18n="Inicio Portal Propiedad Intelectual">Inicio</span>
                    </a>
                </li>
                if (accesos.pi_catalogos)
                {
                    <li class="">
                        <a href="#" title="Catálogos" data-filter-tags="Catálogos">
                            <i class='fa fa-list'></i>
                            <span class="nav-link-text" data-i18n="Catálogos">Catálogos</span>
                        </a>
                        <ul>
                            @if (accesos.pi_Negocio)
                            {
                                <li class="">
                                    <a href="~/PI/Negocio" title="Negocio" data-filter-tags="Negocio">
                                        <span class="nav-link-text" data-i18n="Negocio">Negocio</span>
                                    </a>
                                </li>
                            }

                            @if (accesos.pi_TipoCatalogo)
                            {
                            }

                            @if (accesos.pi_TipoRegistro)
                            {
                                <li class="">
                                    <a href="~/PI/TipoRegistro" title="TipoRegistro" data-filter-tags="Tipo Registro">
                                        <span class="nav-link-text" data-i18n="TipoRegistro">Tipo Registro</span>
                                    </a>
                                </li>
                            }

                            @if (accesos.pi_Clase)
                            {
                                <li class="">
                                    <a href="~/PI/Clase" title="Clase" data-filter-tags="Clase">
                                        <span class="nav-link-text" data-i18n="Clase">Clase</span>
                                    </a>
                                </li>
                            }

                            @if (accesos.pi_EstatusCatalogo)
                            {
                                <li class="">
                                    <a href="~/PI/EstatusCatalogo" title="EstatusCatalogo" data-filter-tags="Estatus">
                                        <span class="nav-link-text" data-i18n="EstatusCatalogo">Estatus</span>
                                    </a>
                                </li>
                            }

                            @if (accesos.pi_Despacho)
                            {
                                <li class="">
                                    <a href="~/PI/Despacho" title="Despacho" data-filter-tags="Despacho">
                                        <span class="nav-link-text" data-i18n="Despacho">Despacho</span>
                                    </a>
                                </li>
                            }

                            @if (accesos.pi_Corresponsal)
                            {
                                <li class="">
                                    <a href="~/PI/Corresponsal" title="Corresponsal" data-filter-tags="Corresponsal">
                                        <span class="nav-link-text" data-i18n="Corresponsal">Corresponsal</span>
                                    </a>
                                </li>
                            }

                            @if (accesos.pi_Pais)
                            {
                                <li class="">
                                    <a href="~/PI/Pais" title="Pais" data-filter-tags="Pais">
                                        <span class="nav-link-text" data-i18n="Pais">País</span>
                                    </a>
                                </li>
                            }

                            @if (accesos.pi_ConvenioLicencia)
                            {
                                <li class="">
                                    <a href="~/PI/ConvenioLicencia" title="ConvenioLicencia" data-filter-tags="Convenio Licencia">
                                        <span class="nav-link-text" data-i18n="ConvenioLicencia">Convenio Licencia</span>
                                    </a>
                                </li>
                            }

                            @if (accesos.pi_ContratoCesion)
                            {
                                <li class="">
                                    <a href="~/PI/ContratoCesion" title="ContratoCesion" data-filter-tags="Negocios">
                                        <span class="nav-link-text" data-i18n="ContratoCesion">Contrato Cesión</span>
                                    </a>
                                </li>
                            }
                        </ul>
                    </li>
                }
                if (accesos.pi_propiedadindustrial)
                {

                    <li class="">
                        <a href="#" title="Propiedad Industrial" data-filter-tags="Formatos Propiedad Industrial">
                            <i class='fa fa-list'></i>
                            <span class="nav-link-text" data-i18n="Formatos Propiedad Industrial">Formatos P. Industrial</span>
                        </a>
                        <ul>

                            @if (accesos.pi_Marca)
                            {
                                <li class="">
                                    <a href="~/PI/Marca" title="Marca" data-filter-tags="Marca">
                                        <span class="nav-link-text" data-i18n="">Marcas</span>
                                    </a>
                                </li>
                            }
                            @if (accesos.pi_AvisoComercial)
                            {
                                <li class="">
                                    <a href="~/PI/AvisoComercial" title="AvisoComercial" data-filter-tags="Avisos comerciales">
                                        <span class="nav-link-text" data-i18n="AvisoComercial">Avisos comerciales</span>
                                    </a>
                                </li>
                            }
                            @if (accesos.pi_Patente)
                            {
                                <li class="">
                                    <a href="~/PI/Patente" title="Patente" data-filter-tags="Patentes">
                                        <span class="nav-link-text" data-i18n="Patente">Patentes</span>
                                    </a>
                                </li>
                            }
                            @if (accesos.pi_ModeloUtilidad)
                            {
                                <li class="">
                                    <a href="~/PI/ModeloUtilidad" title="ModeloUtilidad" data-filter-tags="Modelo Utilidad">
                                        <span class="nav-link-text" data-i18n="ModeloUtilidad">Modelo Utilidad</span>
                                    </a>
                                </li>
                            }
                            @if (accesos.pi_ModeloIndustrial)
                            {
                                <li class="">
                                    <a href="~/PI/ModeloIndustrial" title="ModeloIndustrial" data-filter-tags="Modelo Industrial">
                                        <span class="nav-link-text" data-i18n="ModeloIndustrial">Modelo Industrial</span>
                                    </a>
                                </li>
                            }
                            @if (accesos.pi_DisenoIndustrial)
                            {
                                <li class="">
                                    <a href="~/PI/DisenoIndustrial" title="DisenoIndustrial" data-filter-tags="Diseño Industrial">
                                        <span class="nav-link-text" data-i18n="DisenoIndustrial">Diseño Industrial</span>
                                    </a>
                                </li>
                            }
                        </ul>
                    </li>
                }
                if (accesos.pi_propiedadintelectual)
                {

                    <li class="">
                        <a href="#" title="Propiedad Intelectual" data-filter-tags="Formatos Propiedad Intelectual">
                            <i class='fa fa-list'></i>
                            <span class="nav-link-text" data-i18n="Formatos Propiedad Intelectual">Formatos P. Intelectual</span>
                        </a>
                        <ul>
                            @if (accesos.pi_Obra)
                            {
                                <li class="">
                                    <a href="~/PI/Obra?tipo=Artisticas" title="Obra" data-filter-tags="Obras">
                                        <span class="nav-link-text" data-i18n="Obra">Obras Artisticas</span>
                                    </a>
                                </li>
                                <li class="">
                                    <a href="~/PI/Obra?tipo=Visuales" title="Obra" data-filter-tags="Obras">
                                        <span class="nav-link-text" data-i18n="Obra">Obras Visuales</span>
                                    </a>
                                </li>
                                <li class="">
                                    <a href="~/PI/Obra?tipo=Literarias" title="Obra" data-filter-tags="Obras">
                                        <span class="nav-link-text" data-i18n="Obra">Obras Literarias</span>
                                    </a>
                                </li>
                                <li class="">
                                    <a href="~/PI/Obra?tipo=Auditivas" title="Obra" data-filter-tags="Obras">
                                        <span class="nav-link-text" data-i18n="Obra">Obras Auditivas</span>
                                    </a>
                                </li>
                                <li class="">
                                    <a href="~/PI/Obra?tipo=Gráficas" title="Obra" data-filter-tags="Obras">
                                        <span class="nav-link-text" data-i18n="Obra">Obras Gráficas</span>
                                    </a>
                                </li>
                                <li class="">
                                    <a href="~/PI/Obra?tipo=Tecnologicas" title="Obra" data-filter-tags="Obras">
                                        <span class="nav-link-text" data-i18n="Obra">Obras Tecnologicas</span>
                                    </a>
                                </li>
                            }
                        </ul>
                    </li>
                }

                if (accesos.pi_RegistroMarcas)
                {
                    <li class="" data-filter-tags="RegistroMarcas">
                        <a href="~/PI/RegistroMarcas" title="RegistroMarcas" data-filter-tags="RegistroMarcas">
                            <i class='fa fa-file-alt'></i>
                            <span class="nav-link-text" data-i18n="Branch 1">Propiedad Industrial e Intelectual</span>
                        </a>
                    </li>
                }
                if (accesos.pi_otros)
                {
                    <li class="">
                        <a href="#" title="Otros" data-filter-tags="Otros">
                            <i class='fa fa-plus-circle'></i>
                            <span class="nav-link-text" data-i18n="Otros">Otros</span>
                        </a>
                        <ul>
                            @if (accesos.pi_RecordatorioPI)
                            {
                                <li class="">
                                    <a href="~/PI/RecordatorioPI" title="Recordatorios" data-filter-tags="Recordatorios">
                                        <span class="nav-link-text" data-i18n="Recordatorios">Recordatorios</span>
                                    </a>
                                </li>
                            }
                        </ul>
                    </li>
                }
            }
            @*<li class="" data-filter-tags="pruebas">
            <a href="~/lalalalaa" title="Usuarios" data-filter-tags="pruebas">
                <i class='fa fa-home'></i>
                <span class="nav-link-text" data-i18n="Branch 1">separador para pruebas</span>
            </a>
        </li>
            *@

            @*

            @if (usuario.roles.id != "e4aacdfd-3425-42de-9ac5-7e0bcdf177c3" &&
                usuario.roles.id != "4c8ed3da-531b-4e4d-8b0f-2fb89e09119d")
            {

                <li class="" data-filter-tags="Inicio">
                    <a href="~/Admin" title="Inicio" data-filter-tags="Inicio">
                        <i class='fa fa-home'></i>
                        <span class="nav-link-text" data-i18n="Branch 1">Inicio</span>
                    </a>
                </li>
                if (usuario.roles.id == "8566d71d-72f0-489d-92d4-410804d82e60")
                {
                    <li class="">
                        <a href="#" title="Administración" data-filter-tags="Administración">
                            <i class='fa fa-cogs'></i>
                            <span class="nav-link-text" data-i18n="Branch 1">Administración</span>
                        </a>
                        <ul>
                            <li class="">
                                <a href="~/Admin/Roles" title="Roles" data-filter-tags="Roles">
                                    <span class="nav-link-text" data-i18n="Roles">Roles</span>
                                </a>
                            </li>
                            <li class="">
                                <a href="~/Admin/Usuarios" title="Usuarios" data-filter-tags="Usuarios">
                                    <span class="nav-link-text" data-i18n="Usuarios">Usuarios</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                }
                <li class="">
                    <a href="#" title="Contratos" data-filter-tags="Contratos">
                        <i class='fa fa-pencil-alt'></i>
                        <span class="nav-link-text" data-i18n="Contratos">Solicitud de contrato</span>
                    </a>
                    <ul>
                        <li class="">
                            <a href="~/Admin/Contratos" title="Ver contratos" data-filter-tags="Ver contratos">
                                <span class="nav-link-text" data-i18n="Ver contratos">Ver contratos</span>
                            </a>
                        </li>

                        @if (usuario.roles.id != "4c8ed3da-531b-4e4d-8b0f-2fb89e09119d")
                        {
                            <li class="">
                                <a href="~/Admin/Contrato" title="Nueva solicitud" data-filter-tags="Nueva solicitud">
                                    <span class="nav-link-text" data-i18n="Nueva solicitud">Nueva solicitud</span>
                                </a>
                            </li>
                        }
                        <li class="">
                            <a href="javascript:void(0);" title="Modelo de contrato" data-filter-tags="Modelo de contrato">
                                <span class="nav-link-text" data-i18n="Modelo de contrato">Modelo de contrato</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="javascript:void(0);" title="Manual de usuario" data-filter-tags="Manual de usuario">
                                <span class="nav-link-text" data-i18n="Manual de usuario">Manual de usuario</span>
                            </a>
                        </li>
                    </ul>
                </li>
            }
            else
            {




                <li class="">
                    <a href="#" title="Otros" data-filter-tags="Otros">
                        <i class='fa fa-plus-circle'></i>
                        <span class="nav-link-text" data-i18n="Otros">Otros</span>
                    </a>
                    <ul>
                        <li class="">
                            <a href="~/PI/RecordatorioPI" title="Recordatorios" data-filter-tags="Recordatorios">
                                <span class="nav-link-text" data-i18n="Recordatorios">Recordatorios</span>
                            </a>
                        </li>
                    </ul>
                </li>



                <li class="">
                    <a href="#" title="Reportes" data-filter-tags="Reportes">
                        <i class='fa fa-plus-circle'></i>
                        <span class="nav-link-text" data-i18n="Otros">Reportes</span>
                    </a>
                    <ul>
                        <li class="">
                            <a href="~/PI/PENDIENTE" title="PENDIENTE" data-filter-tags="PENDIENTE">
                                <span class="nav-link-text" data-i18n="PENDIENTE">PENDIENTE</span>
                            </a>
                        </li>
                    </ul>
                </li>


                <li class="">
                    <a href="#" title="Reportes" data-filter-tags="Reportes">
                        <i class='fa fa-plus-circle'></i>
                        <span class="nav-link-text" data-i18n="Otros">Reportes</span>
                    </a>
                    <ul>
                        <li class="">
                            <a href="~/PI/PENDIENTE" title="PENDIENTE" data-filter-tags="PENDIENTE">
                                <span class="nav-link-text" data-i18n="PENDIENTE">PENDIENTE</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="">
                    <a href="#" title="Formatos" data-filter-tags="Formatos">
                        <i class='fa fa-plus-circle'></i>
                        <span class="nav-link-text" data-i18n="Formatos">Formatos</span>
                    </a>
                    <ul>
                        <li class="">
                            <a href="~/PI/PENDIENTE" title="PENDIENTE" data-filter-tags="PENDIENTE">
                                <span class="nav-link-text" data-i18n="PENDIENTE">PENDIENTE</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="">
                    <a href="#" title="Política" data-filter-tags="Política">
                        <i class='fa fa-plus-circle'></i>
                        <span class="nav-link-text" data-i18n="Política">Política</span>
                    </a>
                    <ul>
                        <li class="">
                            <a href="~/PI/PENDIENTE" title="PENDIENTE" data-filter-tags="PENDIENTE">
                                <span class="nav-link-text" data-i18n="PENDIENTE">PENDIENTE</span>
                            </a>
                        </li>
                    </ul>
                </li>



            }

            *@
        </ul>
            <div class="filter-message js-filter-message bg-success-600"></div>
</nav>
</aside>