@using Microsoft.AspNet.Identity.EntityFramework
@using GISMVC.Data
@using GISMVC.Models
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq

@{
    var usuario = AspNetUsers.GetByName(Context.User.Identity.Name);
}
<script type="text/javascript">
    var eu_lu = {
        id: "@Html.Raw(usuario.id)",
        name: "@Html.Raw(usuario.name)",
        uname: "@Html.Raw(usuario.username)",
        role: {
            id: "@Html.Raw(usuario.roles.id)",
            desc: "@Html.Raw(usuario.roles.descripcion)"
        },
    };
    @*permisos: JSON.parse('@Html.Raw(JsonConvert.SerializeObject(usuario.permisos))')*@
</script>

<header class="page-header" role="banner">
    <div class="page-logo">
        <a href="#" class="page-logo-link press-scale-down d-flex align-items-center position-relative" data-toggle="modal" data-target="#modal-shortcut">
            <img src="img/logo.png" alt="Admin" aria-roledescription="logo">
            <span class="page-logo-text mr-1">Admin</span>
            <span class="position-absolute text-white opacity-50 small pos-top pos-right mr-2 mt-n2"></span>
            <i class="fal fa-angle-down d-inline-block ml-1 fs-lg color-primary-300"></i>
        </a>
    </div>
    <div class="hidden-md-down dropdown-icon-menu position-relative">
        <a href="#" class="btn js-waves-off" data-action="toggle" data-class="nav-function-minify" title="Minify Navigation" id="minify" style="">
            <i class="ni ni-menu"></i>
        </a>
    </div>
    <div class="hidden-lg-up">
        <a href="#" class="header-btn btn press-scale-down" data-action="toggle" data-class="mobile-nav-on">
            <i class="ni ni-menu"></i>
        </a>
    </div>
    @*<div class="search">
            <form class="app-forms hidden-xs-down" role="search" action="page_search.html" autocomplete="off">
                <input type="text" id="search-field" placeholder="Buscar" class="form-control" tabindex="1">
                <a href="#" onclick="return false;" class="btn-danger btn-search-close js-waves-off d-none" data-action="toggle" data-class="mobile-search-on">
                    <i class="fal fa-times"></i>
                </a>
            </form>
        </div>*@
    <div class="ml-auto d-flex">
        <div class="ctm-header-area">
            <span class="ctm-area-PRO" style="display: block;">Portal Jurídico</span>
        </div>
        <div>
            <a href="javascript:void(0);" class="header-icon d-flex align-items-center justify-content-center ml-2">
                <i class="fa fa-user"></i>&nbsp;&nbsp;@Html.Raw(usuario.name)
            </a>
        </div>
        <!--
        <div>
            <a href="#" class="header-icon d-flex align-items-center justify-content-center ml-2">
                <i class="fa fa-bell"></i>
            </a>
        </div>-->
        <div>
            <a href="#" data-toggle="dropdown" class="header-icon header-icon-logout d-flex align-items-center justify-content-center ml-2">
                <i class="fa fa-sign-out-alt"></i>@*<img src="~/images/iconos/logout@2x.png" />*@&nbsp;&nbsp;Cerrar sesión
            </a>
            <div class="dropdown-menu dropdown-menu-animated dropdown-lg">
                @*<div class="dropdown-header bg-trans-gradient d-flex flex-row py-4 rounded-top">
                    <div class="d-flex flex-row align-items-center mt-1 mb-1 color-white">
                        <span class="mr-2">
                            <img src="img/demo/avatars/avatar-admin.png" class="rounded-circle profile-image" alt="Dr. Codex Lantern">
                        </span>
                        <div class="info-card-text">
                            <div class="fs-lg text-truncate text-truncate-lg">Dr. Codex Lantern</div>
                            <span class="text-truncate text-truncate-md opacity-80">drlantern@gotbootstrap.com</span>
                        </div>
                    </div>
                </div>*@
                @*<div class="dropdown-divider m-0"></div>
                <a href="#" class="dropdown-item" data-action="app-reset">
                    <span data-i18n="drpdwn.reset_layout">Reset Layout</span>
                </a>
                <a href="#" class="dropdown-item" data-toggle="modal" data-target=".js-modal-settings">
                    <span data-i18n="drpdwn.settings">Settings</span>
                </a>
                <div class="dropdown-divider m-0"></div>
                <a href="#" class="dropdown-item" data-action="app-fullscreen">
                    <span data-i18n="drpdwn.fullscreen">Fullscreen</span>
                    <i class="float-right text-muted fw-n">F11</i>
                </a>
                <a href="#" class="dropdown-item" data-action="app-print">
                    <span data-i18n="drpdwn.print">Print</span>
                    <i class="float-right text-muted fw-n">Ctrl + P</i>
                </a>
                <div class="dropdown-multilevel dropdown-multilevel-left">
                    <div class="dropdown-item">
                        Language
                    </div>
                    <div class="dropdown-menu">
                        <a href="#?lang=fr" class="dropdown-item" data-action="lang" data-lang="fr">Français</a>
                        <a href="#?lang=en" class="dropdown-item active" data-action="lang" data-lang="en">English (US)</a>
                        <a href="#?lang=es" class="dropdown-item" data-action="lang" data-lang="es">Español</a>
                        <a href="#?lang=ru" class="dropdown-item" data-action="lang" data-lang="ru">Русский язык</a>
                        <a href="#?lang=jp" class="dropdown-item" data-action="lang" data-lang="jp">日本語</a>
                        <a href="#?lang=ch" class="dropdown-item" data-action="lang" data-lang="ch">中文</a>
                    </div>
                </div>*@
                <div class="dropdown-divider m-0"></div>

                <form method="POST" id="logoutForm" class="d-inline-block text-truncate text-truncate-sm" action="~/Account/Logoutv3" style="width: 100%;max-width: unset; overflow: inherit;">
                    <button type="submit" class="btn btn-block dropdown-item fw-500 pt-3 pb-3" style="border-top-right-radius: 0px;border-bottom-right-radius: 0;border-bottom-left-radius: 0;border-top-left-radius: 0;">
                        Cerrar sesión
                    </button>
                </form>
                @*<a class="dropdown-item fw-500 pt-3 pb-3" href="page_login.html">
                    <span data-i18n="drpdwn.page-logout">Logout</span>
                    <span class="float-right fw-n">&commat;codexlantern</span>
                </a>*@
            </div>
        </div>
    </div>
</header>