@using GISMVC.Models;
@{
    ViewData["Title"] = ViewBag.pagina.nombre;
    Layout = "~/Views/Shared/_admin.cshtml";
}

@section permisos {
    <script type="text/javascript">
        @*
            mp_p = @Html.Raw(Json.Serialize(ViewBag.mp_p));
        *@
    </script>
}

@section ol {
    @*<ol class="breadcrumb page-breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0);">SmartAdmin</a></li>
            <li class="breadcrumb-item">Application Intel</li>
            <li class="breadcrumb-item active">Introduction</li>
            <li class="position-absolute pos-top pos-right d-none d-sm-block"><span class="js-get-date"></span></li>
        </ol>*@
}

@section metas {
    <meta name="title" content="@ViewBag.pagina.nombre">
    <meta name="description" content="@ViewBag.pagina.descripcion">
    <meta name="keywords" content="@Html.Raw(ViewBag.pagina.keywords)">
}

@section Styles {
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/plugins/slick-master/slick/slick.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/plugins/slick-master/slick/slick-theme.css")">
    <link href="@Url.Content("~/Content/plugins/select2/dist/css/select2.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/plugins/bootstrap-select/bootstrap-select.min.css")" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/plugins/datatables/media/css/dataTables.bootstrap4.css")">
    <link rel="stylesheet" media="screen, print" href="@Url.Content("~/Content/smartadmin/css/formplugins/bootstrap-datepicker/bootstrap-datepicker.css")">
    <link rel="stylesheet" media="screen, print" href="@Url.Content("~/Content/css/jquery-ui.css")">
    <link rel="stylesheet" media="screen, print" href="@Url.Content("~/Content/smartadmin/css/formplugins/bootstrap-daterangepicker/bootstrap-daterangepicker.css")">
    <style>
        .slick-slide {
            margin: 0px 10px;
        }

            .slick-slide img {
                width: 98%;
            }

        .slick-prev:before,
        .slick-next:before {
            color: #002b50;
        }


        .slick-slide {
            transition: all ease-in-out .3s;
            opacity: 1;
        }

        .slick-active {
            opacity: 1;
        }

        .slick-current {
            opacity: 1;
        }

        td[role="columnheader"] .dx-datagrid-text-content.dx-header-filter-indicator {
            white-space: break-spaces;
        }

        .columm-color-00 {
            /*background-color: blue;*/
        }
    </style>
}
<div class="subheader">
    <h1 class="subheader-title">
        Convenio Licencia
        <small>
        </small>
    </h1>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel ctm-panel" id="">
            <div class="panel-container ctm-panel-container show">
                <div class="panel-content ctm-panel-content">
                    <div id="table-container">
                        @*-----*@
                        @(Html.DevExtreme().DataGrid<ConvenioLicencia>
                            ()
                            .ID("tabla01")
                            .ShowBorders(true)
                            .DataSource(d => d.WebApi().Controller("Tablas").LoadAction("Get").Key("id").LoadParams(new { _params = new JS("function() { return buildValidationSuggestionRequest(); }") }))
                            .Columns(columns =>
                            {
                                columns.AddFor(m => m.id).CellTemplate(@<text>
                                    <div>
                                        <button type="button" class="dx-oc-link" onclick="Editar(<%- value %>)"><i class="fa fa-edit"></i></button>
                                    </div>
                                </text>).Caption("ACCIONES").Width(150);
                                columns.AddFor(m => m.nombre).CellTemplate(@<text>
                                    <% if (data.activo == false) { %>
                                    <div>
                                        <span class="dx-active-off"></span>
                                        <%- value %>
                                    </div>
                                    <% } else { %>
                                    <div>
                                        <span class="dx-active-on"></span>
                                        <%- value %>
                                    </div>
                                    <% } %>
                                </text>).Caption("Nombre");
                                columns.AddFor(m => m.licenciatario_nombre).Caption("Licenciatario");
                                columns.AddFor(m => m.licenciante_nombre).Caption("Licenciante");
                            })
                            .ColumnAutoWidth(true)
                            .SearchPanel(p => p.Visible(true).Placeholder("Buscar"))
                            .Paging(p => p.PageSize(20))
                            .FilterRow(f => f.Visible(true))
                            .HeaderFilter(f => f.Visible(true))

                            )
                        @*-----*@
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

@section Modals {
    <div id="alertModal" class="modal fade ctm-modal" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"></h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <h1></h1>

                    <div class="modal-spinner text-center">
                        <img src="~/Content/images/spinner.gif" />
                    </div>

                    <div class="form-group">
                    </div>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
    <div id="update01" class="modal fade ctm-modal" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"></h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    @*<div class="panel-content">
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#tab01" role="tab"><i class="fa fa-info mr-1"></i> </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#tab02" role="tab"><i class="fa fa-file mr-1"></i> Anexos</a>
                                </li>
                            </ul>
                            <div class="tab-content border border-top-0 p-3">
                                <div class="tab-pane fade active show" id="tab01" role="tabpanel">
                                </div>
                                <div class="tab-pane fade" id="tab02" role="tabpanel">
                            </div>
                        </div>*@
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group" id="uu_04_c">
                                <label for="uu_04">Licenciatario</label>
                                <select class="select2 form-control input-sm custom-select" id="uu_04" autocomplete="off" style="width: 100%;" disabled>
                                    <option value="0" selected>Buscar</option>
                                    @foreach (NegocioPI item in ViewBag.empresas)
                                    {
                                        <option value="@item.id">@item.nombre</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group" id="uu_05_c">
                                <label for="uu_05">Licenciante</label>
                                <select class="select2 form-control input-sm custom-select" id="uu_05" autocomplete="off" style="width: 100%;" disabled>
                                    <option value="0" selected>Buscar</option>
                                    @foreach (NegocioPI item in ViewBag.empresas)
                                    {
                                        <option value="@item.id">@item.nombre</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group" id="uu_06_c">
                                <label for="uu_06">Solicitante</label>
                                @*<select class="select2 form-control input-sm custom-select" id="uu_06" autocomplete="off" style="width: 100%;" disabled>
            <option value="NA" selected>Buscar</option>
            @foreach (AspNetUsers item in ViewBag.usuarios)
            {
                <option value="@item.id">@item.nombre</option>
            }
        </select>*@
                                <input type="text" class="form-control input-sm" id="uu_06" autocomplete="off" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group" id="uu_01_c">
                                <label>Nombre</label>
                                <input type="text" class="form-control input-sm" id="uu_01" autocomplete="off" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group" id="uu_02_c">
                                <label>Número de registro</label>
                                <input type="text" class="form-control input-sm" id="uu_02" autocomplete="off" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group" id="uu_03_c">
                                <label>Número de expediente</label>
                                <input type="text" class="form-control input-sm" id="uu_03" autocomplete="off" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group" id="uu_07_c">
                                <label for="uu_07">Clase</label>
                                <select class="select2 form-control input-sm custom-select" id="uu_07" autocomplete="off" style="width: 100%;" disabled>
                                    <option value="0" selected>Buscar</option>
                                    @foreach (Clase item in ViewBag.clases)
                                    {
                                        <option value="@item.id">@item.nombre</option>
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group" id="uu_08_c">
                                <label for="uu_08">País</label>
                                <select class="select2 form-control input-sm custom-select" id="uu_08" autocomplete="off" style="width: 100%;" disabled>
                                    <option value="0" selected>Buscar</option>
                                    @foreach (Pais item in ViewBag.paises)
                                    {
                                        <option value="@item.id">@item.nombre</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>


                    <hr />
                    <div class="row">
                        <div class="col-md-6">
                            @*<label>Instrucciones al corresponsal</label>*@
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group" id="uu_09_c">
                                        <label>Fecha instrucciones al corresponsal</label>
                                        <input type="text" class="form-control input-sm" id="uu_09" autocomplete="off" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group" id="uu_10_c">
                                        <label>Completado</label>
                                        <input type="text" class="form-control input-sm" id="uu_10" autocomplete="off" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            @*<label>Envío de documentos</label>*@
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group" id="uu_11_c">
                                        <label>Fecha envío de documentos</label>
                                        <input type="text" class="form-control input-sm" id="uu_11" autocomplete="off" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group" id="uu_12_c">
                                        <label>Completado</label>
                                        <input type="text" class="form-control input-sm" id="uu_12" autocomplete="off" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <hr />
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group" id="uu_13_c">
                                <label>Fecha de solicitud</label>
                                <input type="text" class="form-control input-sm" id="uu_13" autocomplete="off" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group" id="uu_14_c">
                                <label>Fecha de concesión</label>
                                <input type="text" class="form-control input-sm" id="uu_14" autocomplete="off" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group" id="uu_15_c">
                                <label>Fecha legal</label>
                                <input type="text" class="form-control input-sm" id="uu_15" autocomplete="off" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group" id="uu_16_c">
                                <label>Fecha de vencimiento</label>
                                <input type="text" class="form-control input-sm" id="uu_16" autocomplete="off" />
                            </div>
                        </div>
                    </div>

                    <div class="form-group" id="uu_17_c">
                        <label>Observaciones</label>
                        <input type="text" class="form-control input-sm" id="uu_17" autocomplete="off" />
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group" id="uu_18_c">
                                <label for="uu_18">Despacho</label>
                                <select class="select2 form-control input-sm custom-select" id="uu_18" autocomplete="off" style="width: 100%;" disabled>
                                    <option value="0" selected>Buscar</option>
                                    @foreach (Despacho item in ViewBag.despacho)
                                    {
                                        <option value="@item.id">@item.nombre</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group" id="uu_19_c">
                                <label for="uu_19">Corresponsal</label>
                                <select class="select2 form-control input-sm custom-select" id="uu_19" autocomplete="off" style="width: 100%;" disabled>
                                    <option value="0" selected>Buscar</option>
                                    @foreach (Corresponsal item in ViewBag.corresponsal)
                                    {
                                        <option value="@item.id">@item.nombre</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group" id="uu_20_c">
                                <label for="uu_20">Tipo Cesión</label>
                                <select class="select2 form-control input-sm custom-select" id="uu_20" autocomplete="off" style="width: 100%;" disabled>
                                    <option value="0" selected>Buscar</option>
                                    @foreach (ContratoCesion item in ViewBag.cesion)
                                    {
                                        <option value="@item.id">@item.nombre</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group" id="uu_24_c">
                                <label>Tipo Licencia</label>
                                <input type="text" class="form-control input-sm" id="uu_24" autocomplete="off" />
                            </div>
                        </div>
                    </div>
                   
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group" id="solicitudt" style="margin:0 !important;">
                                <label>Solicitud</label>
                            </div>
                            <div class="form-group" id="solicitudc">
                                <a href="" id="solicitudl" class="btn btn-sm btn-success"><i class="fa fa-download"></i></a>
                                <label for="solicitud" class="btn btn-sm btn-info btn-lbl"><i class="fa fa-upload"></i> Seleccionar archivo</label>
                                <input type="file" id="solicitud" style="display:none;" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group" id="oficiot" style="margin:0 !important;">
                                <label>Oficio</label>
                            </div>
                            <div class="form-group" id="oficioc">
                                <a href="" id="oficiol" class="btn btn-sm btn-success"><i class="fa fa-download"></i></a>
                                <label for="oficio" class="btn btn-sm btn-info btn-lbl"><i class="fa fa-upload"></i> Seleccionar archivo</label>
                                <input type="file" id="oficio" style="display:none;" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group" id="contratot" style="margin:0 !important;">
                                <label>Contrato</label>
                            </div>
                            <div class="form-group" id="contratoc">
                                <a href="" id="contratol" class="btn btn-sm btn-success"><i class="fa fa-download"></i></a>
                                <label for="contrato" class="btn btn-sm btn-info btn-lbl"><i class="fa fa-upload"></i> Seleccionar archivo</label>
                                <input type="file" id="contrato" style="display:none;" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="btn" onclick="" id="eliminausuario">Eliminar</button>
                    </div>
                    <div class="form-group errores"></div>
                </div>
                <div class="modal-footer red-border">
                    <div class="col-md-2"></div>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-ban"></i> Cancelar</button>
                    &nbsp;&nbsp;&nbsp;
                    <button type="button" class="btn btn-info" onclick="Confirma01()"><i class="fa fa-save"></i> Guardar</button>
                </div>
            </div>
        </div>
    </div>


    <div id="confirmaEliminar01" class="modal fade ctm-modal" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Cambio de estatus</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <p>Se necesita confirmación para desactivar los datos de este registro</p>
                    </div>
                </div>
                <div class="modal-footer red-border">
                    <div class="col-md-2"></div>
                    <div class="col-md-4">
                        <button type="button" class="btn btn-secondary btn-sm btn-block" data-dismiss="modal"><i class="fa fa-ban"></i> Cancelar</button>
                    </div>
                    <div class="col-md-4">
                        <button type="button" class="btn btn-cg btn-sm btn-block" onclick="ConfirmaEliminar01()"><i class="fa fa-check-circle"></i> Confirmar</button>
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>
        </div>
    </div>

}


@section Scripts {
    <script src="@Url.Content("~/Content/plugins/slick-master/slick/slick.js")" type="text/javascript" charset="utf-8"></script>
    <script src="@Url.Content("~/Content/plugins/select2/dist/js/select2.full.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/plugins/bootstrap-select/bootstrap-select.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/smartadmin/js/formplugins/bootstrap-datepicker/bootstrap-datepicker.js")"></script>
    <script src="@Url.Content("~/Content/smartadmin/js/formplugins/bootstrap-daterangepicker/bootstrap-daterangepicker.js")"></script>
    <script type="text/javascript">
    </script>

    <script type="text/javascript">
        var START_DATE = "@Html.Raw(DateTime.Now.AddDays(-60).ToString("yyyy-MM-dd"))";
        var END_DATE = "@Html.Raw(DateTime.Now.ToString("yyyy-MM-dd"))";

        var valReqData = {
            ID: 0,
            START_DATE: START_DATE,
            END_DATE: END_DATE,
            USUARIO: "@ViewBag.ul.id",
            STR: "aa",
            TIPO: "ConvenioLicencia"
        };
        var tipo = valReqData.TIPO;
        function buildValidationSuggestionRequest() {
            return JSON.stringify(valReqData);
        }


        function reloadDataRange() {
            $("#table-container").show();
            $("#tabla01").dxDataGrid("getDataSource").reload();
        }
        $(document).ready(function () {
            $("#tabla01 .dx-toolbar-after").prepend("<button class='btn btn-info btn-sm' onclick='ModalNuevo();'><i class='fa fa-plus'></i> Nuevo registro</button>");
        });
    </script>
    <script src="@Url.Content("~/Content/js/admin_catalogos3.js?t=" + DateTime.Now.Ticks.ToString())"></script>
}