@using GISMVC.Models;
@{
    ViewData["Title"] = ViewBag.pagina.nombre;
    Layout = "~/Views/Shared/_admin.cshtml";
}

@section permisos {
    <script type="text/javascript">
        @*
            mp_p = @Html.Raw(Json.Serialize(ViewBag.mp_p));
        *@
    </script>
}

@section ol {
    @*<ol class="breadcrumb page-breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0);">SmartAdmin</a></li>
            <li class="breadcrumb-item">Application Intel</li>
            <li class="breadcrumb-item active">Introduction</li>
            <li class="position-absolute pos-top pos-right d-none d-sm-block"><span class="js-get-date"></span></li>
        </ol>*@
}

@section metas {
    <meta name="title" content="@ViewBag.pagina.nombre">
    <meta name="description" content="@ViewBag.pagina.descripcion">
    <meta name="keywords" content="@Html.Raw(ViewBag.pagina.keywords)">
}

@section Styles {
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/plugins/slick-master/slick/slick.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/plugins/slick-master/slick/slick-theme.css")">
    <link href="@Url.Content("~/Content/plugins/select2/dist/css/select2.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/plugins/bootstrap-select/bootstrap-select.min.css")" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/plugins/datatables/media/css/dataTables.bootstrap4.css")">
    <link rel="stylesheet" media="screen, print" href="@Url.Content("~/Content/smartadmin/css/formplugins/bootstrap-datepicker/bootstrap-datepicker.css")">
    <link rel="stylesheet" media="screen, print" href="@Url.Content("~/Content/css/jquery-ui.css")">
    <link rel="stylesheet" media="screen, print" href="@Url.Content("~/Content/smartadmin/css/formplugins/bootstrap-daterangepicker/bootstrap-daterangepicker.css")">
    <style>
        .slick-slide {
            margin: 0px 10px;
        }

            .slick-slide img {
                width: 98%;
            }

        .slick-prev:before,
        .slick-next:before {
            color: #002b50;
        }


        .slick-slide {
            transition: all ease-in-out .3s;
            opacity: 1;
        }

        .slick-active {
            opacity: 1;
        }

        .slick-current {
            opacity: 1;
        }

        td[role="columnheader"] .dx-datagrid-text-content.dx-header-filter-indicator {
            white-space: break-spaces;
        }

        .columm-color-00 {
            /*background-color: blue;*/
        }
    </style>
}
<div class="subheader">
    <h1 class="subheader-title">
        Recordatorios
        <small>
        </small>
    </h1>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel ctm-panel" id="">
            <div class="panel-container ctm-panel-container show">
                <div class="panel-content ctm-panel-content">
                    <div id="table-container">
                        @*-----*@
                        @(Html.DevExtreme().DataGrid<RecordatorioPI>
                            ()
                            .ID("tabla01")
                            .ShowBorders(true)
                            .Scrolling(scrolling => scrolling.RowRenderingMode(GridRowRenderingMode.Virtual))
                            .Paging(paging => paging.PageSize(20))
                            .Pager(pager =>
                            {
                                pager.Visible(true);
                                //pager.DisplayMode(GridPagerDisplayMode.Full);
                                pager.ShowPageSizeSelector(true);
                                pager.AllowedPageSizes(new JS("[10, 20, 50, 100]"));
                                pager.ShowInfo(true);
                                pager.ShowNavigationButtons(true);
                            })
                            .DataSource(d => d.WebApi().Controller("Tablas").LoadAction("Get").Key("id").LoadParams(new { _params = new JS("function() { return buildValidationSuggestionRequest(); }") }))
                            .Columns(columns =>
                            {
                                columns.AddFor(m => m.id).CellTemplate(@<text>
                                    <div>
                                        <button type="button" class="dx-oc-link" onclick="Editar(<%- value %>)"><i class="fa fa-edit"></i></button>
                                    </div>
                                </text>).Caption("ACCIONES").Width(150);
                                columns.AddFor(m => m.tipo_desc).CellTemplate(@<text>
                                    <% if (data.activo == false) { %>
                                    <div>
                                        <span class="dx-active-off"></span>
                                        <%- value %>
                                    </div>
                                    <% } else { %>
                                    <div>
                                        <span class="dx-active-on"></span>
                                        <%- value %>
                                    </div>
                                    <% } %>
                                </text>).Caption("Tipo de Recordatorio");
                                columns.AddFor(m => m.nombre).Caption("Nombre");
                                columns.AddFor(m => m.tipo_solicitud_desc).Caption("Tipo solicitud");
                                //columns.AddFor(m => m.descripcion).Caption("Descipción");
                                //columns.AddFor(m => m.asignado_nombre).Caption("Asignado");
                                //columns.AddFor(m => m.fecha_recordatorio).Caption("Fecha").Format("dd/MM/yyyy");
                                columns.AddFor(m => m.dias_vencimiento).CellTemplate(@<text>
                                    <div class="text-lg-center">
                                        <%- value %>
                                    </div>
                                </text>).Caption("Días antes vencimiento");
                                columns.AddFor(m => m.dias_frecuencia).CellTemplate(@<text>
                                    <div class="text-lg-center">
                                        <%- value %>
                                    </div>
                                </text>).Caption("Días frecuencia");
                                //columns.AddFor(m => m.dias_vencimiento).Caption("Días antes vencimiento");
                                //columns.AddFor(m => m.dias_frecuencia).Caption("Días frecuencia");
                                columns.AddFor(m => m.fecha_validacion_desc).Caption("Fecha de validación");

                            })
                            .ColumnAutoWidth(true)
                            .SearchPanel(p => p.Visible(true).Placeholder("Buscar"))
                            .Paging(p => p.PageSize(20))
                            .FilterRow(f => f.Visible(true))
                            .HeaderFilter(f => f.Visible(true))

                            )
                        @*-----*@
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

@section Modals {
    <div id="update01" class="modal fade ctm-modal" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"></h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    @*<div class="row">*@
                    <section class="tabs-nobg">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#tab01" role="tab"><i class="fa fa-info mr-1"></i> General</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tab02" role="tab"><i class="fa fa-file mr-1"></i>Campos</a>
                            </li>
                            @*<li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tab03" role="tab"><i class="fa fa-file mr-1"></i> Accesos</a>
                            </li>*@
                        </ul>
                        <div class="tab-content border border-top-0 p-3">
                            <div class="tab-pane fade active show" id="tab01" role="tabpanel">
                                <div class="row">
                                    <div class="form-group col-md-6" id="uu_08_c">
                                        <label for="uu_08">Tipo de recordatorio <font size="4" style="color:#FF0000"> * </font></label>
                                        <select class="select2 form-control input-sm custom-select" id="uu_08" autocomplete="off" style="width: 100%;">
                                            @*<option value="0" disabled selected>Seleccione una opción</option>*@
                                            @foreach (TipoRecordatorio item in ViewBag.tiporecordatorio)
                                            {
                                                <option value="@item.id">@item.nombre</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="form-group col-md-6" id="uu_11_c">
                                        <label for="uu_11">Tipo de solicitud <font size="4" style="color:#FF0000"> * </font></label>
                                        <select class="select2 form-control input-sm custom-select" id="uu_11" autocomplete="off" style="width: 100%;">
                                            <option value="0" disabled selected>Seleccione una opción</option>
                                            @foreach (TipoSolicitudRecordatorio item in ViewBag.tiposolicitudrecordatorio)
                                            {
                                                <option value="@item.id" rid="@item.id">@item.nombre</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="form-group col-md-12" id="uu_07_c">
                                        <label>Nombre <font size="4" style="color:#FF0000"> * </font></label>
                                        <input type="text" class="form-control input-sm" id="uu_07" autocomplete="off" value="" />
                                    </div>
                                    <div class="form-group col-md-12" id="uu_05_c">
                                        <label>Asunto <font size="4" style="color:#FF0000"> * </font></label>
                                        <input type="text" class="form-control input-sm" id="uu_05" autocomplete="off" value="" />
                                    </div>
                                    <div class="form-group col-md-6" id="uu_03_c">
                                        <label>Días a recordar antes del vencimiento <font size="4" style="color:#FF0000"> * </font></label>
                                        <input type="number" class="form-control input-sm" id="uu_03" autocomplete="off" value="0" min="0" />
                                    </div>
                                    <div class="form-group col-md-6" id="uu_04_c">
                                        <label>Días del mes a recordar <font size="4" style="color:#FF0000"> * </font></label>
                                        <input type="text" class="form-control input-sm" id="uu_04" autocomplete="off" value="" />
                                    </div>
                                    <div class="form-group col-md-6" id="uu_10_c">
                                        <label for="uu_10">Fecha de validación <font size="4" style="color:#FF0000"> * </font></label>
                                        <select class="select2 form-control input-sm custom-select" id="uu_10" autocomplete="off" style="width: 100%;">
                                            <option value="0" disabled selected>Seleccione una opción</option>
                                            @foreach (FechaValidacion item in ViewBag.fechavalidacion)
                                            {
                                                <option value="@item.id">@item.nombre</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="form-group col-md-12" id="uu_12_c">
                                        <label>Cuerpo del mensaje</label>
                                        @*<input type="text" class="form-control input-sm" id="uu_09" autocomplete="off" value="" />*@
                                        <textarea type="text" name="uu_12" id="uu_12" class="form-control" value='' rows="4" cols="20" minlength="4" maxlength="250" placeholder="" required style="resize:none"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="tab02" role="tabpanel">
                                <div class="form-group" id="uu_09_c">
                                    @*<label>Campos del mensaje</label>*@
                                    @*<input type="text" class="form-control input-sm" id="uu_09" autocomplete="off" value="" />*@
                                    <div class="row">
                                        @foreach (RecordatorioPICampos item in ViewBag.campos)
                                        {
                                        <div class="col-md-6">
                                            <div class="form-group" id="uu_09">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input cb_acceso_negocio" id="cp_@item.id" avid="@item.id">
                                                    <label class="custom-control-label" for="cp_@item.id">@(item.nombre)</label>
                                                </div>
                                            </div>
                                        </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <div class="form-group" id="uu_01_c" style="display:none;">
                        <label for="uu_01">Asignado</label>
                        <select class="select2 form-control input-sm custom-select" id="uu_01" autocomplete="off" style="width: 100%;">
                            <option value="NA" selected>Seleccionar usuario</option>
                            @foreach (AspNetUsers item in ViewBag.usuarios)
                            {
                                <option value="@item.id">@item.nombre</option>
                            }
                        </select>
                    </div>
                    <div class="form-group" id="uu_02_c" style="display:none;">
                        <label>Fecha recordatorio</label>
                        <input type="text" class="form-control input-sm" id="uu_02" autocomplete="off" readonly />
                    </div>

                    <div class="form-group" id="uu_06_c" style="display:none;">
                        <label>Fecha fin recordatorio</label>
                        <input type="text" class="form-control input-sm" id="uu_06" autocomplete="off" readonly />
                    </div>

                    <div class="form-group">
                        <button class="btn" onclick="" id="eliminausuario">Eliminar</button>
                    </div>
                    <div class="form-group errores"></div>
                </div>@*modal-body*@
                <div class="modal-footer red-border">
                    <div class="col-md-2"></div>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-ban"></i> Cancelar</button>
                    &nbsp;&nbsp;&nbsp;
                    <button type="button" class="btn btn-info" onclick="Confirma01()"><i class="fa fa-save"></i> Guardar</button>
                </div>
            </div>
        </div>
    </div>


    <div id="confirmaEliminar01" class="modal fade ctm-modal" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Cambio de estatus</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <p>Se necesita confirmación para desactivar los datos de este registro</p>
                    </div>
                </div>
                <div class="modal-footer red-border">
                    <div class="col-md-2"></div>
                    <div class="col-md-4">
                        <button type="button" class="btn btn-secondary btn-sm btn-block" data-dismiss="modal"><i class="fa fa-ban"></i> Cancelar</button>
                    </div>
                    <div class="col-md-4">
                        <button type="button" class="btn btn-cg btn-sm btn-block" onclick="ConfirmaEliminar01()"><i class="fa fa-check-circle"></i> Confirmar</button>
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>
        </div>
    </div>

}


@section Scripts {
    <script src="@Url.Content("~/Content/plugins/slick-master/slick/slick.js")" type="text/javascript" charset="utf-8"></script>
    <script src="@Url.Content("~/Content/plugins/select2/dist/js/select2.full.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/plugins/bootstrap-select/bootstrap-select.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/smartadmin/js/formplugins/bootstrap-datepicker/bootstrap-datepicker.js")"></script>
    <script src="@Url.Content("~/Content/smartadmin/js/formplugins/bootstrap-daterangepicker/bootstrap-daterangepicker.js")"></script>
    <script type="text/javascript">
    </script>

    <script type="text/javascript">
        var START_DATE = "@Html.Raw(DateTime.Now.AddDays(-60).ToString("yyyy-MM-dd"))";
        var END_DATE = "@Html.Raw(DateTime.Now.ToString("yyyy-MM-dd"))";

        var valReqData = {
            ID: 0,
            START_DATE: START_DATE,
            END_DATE: END_DATE,
            USUARIO: "@ViewBag.ul.id",
            STR: "aa",
            TIPO: "RecordatorioPI"
        };
        var tipo = valReqData.TIPO;
        function buildValidationSuggestionRequest() {
            return JSON.stringify(valReqData);
        }


        function reloadDataRange() {
            $("#table-container").show();
            $("#tabla01").dxDataGrid("getDataSource").reload();
        }
        $(document).ready(function () {
            $("#tabla01 .dx-toolbar-after").prepend("<button class='btn btn-info btn-sm' onclick='ModalNuevo();'><i class='fa fa-plus'></i> Nuevo registro</button>");
        });
    </script>
    <script src="@Url.Content("~/Content/js/admin_recordatoriopi.js?t=" + DateTime.Now.Ticks.ToString())"></script>
}