@using GISMVC.Models;
@{
    ViewData["Title"] = ViewBag.pagina.nombre;
    Layout = "~/Views/Shared/_admin.cshtml";
}

@section permisos {
    <script type="text/javascript">
        @*
            mp_p = @Html.Raw(Json.Serialize(ViewBag.mp_p));
        *@
    </script>
}

@section ol {
    @*<ol class="breadcrumb page-breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0);">SmartAdmin</a></li>
            <li class="breadcrumb-item">Application Intel</li>
            <li class="breadcrumb-item active">Introduction</li>
            <li class="position-absolute pos-top pos-right d-none d-sm-block"><span class="js-get-date"></span></li>
        </ol>*@
}

@section metas {
    <meta name="title" content="@ViewBag.pagina.nombre">
    <meta name="description" content="@ViewBag.pagina.descripcion">
    <meta name="keywords" content="@Html.Raw(ViewBag.pagina.keywords)">
}

@section Styles {
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/plugins/slick-master/slick/slick.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/plugins/slick-master/slick/slick-theme.css")">
    <link href="@Url.Content("~/Content/plugins/select2/dist/css/select2.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/plugins/bootstrap-select/bootstrap-select.min.css")" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/plugins/datatables/media/css/dataTables.bootstrap4.css")">
    <link rel="stylesheet" media="screen, print" href="@Url.Content("~/Content/smartadmin/css/formplugins/bootstrap-datepicker/bootstrap-datepicker.css")">
    <link rel="stylesheet" media="screen, print" href="@Url.Content("~/Content/css/jquery-ui.css")">
    <link rel="stylesheet" media="screen, print" href="@Url.Content("~/Content/smartadmin/css/formplugins/bootstrap-daterangepicker/bootstrap-daterangepicker.css")">
    <style>
        .slick-slide {
            margin: 0px 10px;
        }

            .slick-slide img {
                width: 98%;
            }

        .slick-prev:before,
        .slick-next:before {
            color: #002b50;
        }


        .slick-slide {
            transition: all ease-in-out .3s;
            opacity: 1;
        }

        .slick-active {
            opacity: 1;
        }

        .slick-current {
            opacity: 1;
        }

        td[role="columnheader"] .dx-datagrid-text-content.dx-header-filter-indicator {
            white-space: break-spaces;
        }

        .columm-color-00 {
            /*background-color: blue;*/
        }
    </style>
}
<div class="subheader">
    <h1 class="subheader-title">
        @*Registro Marcas*@
        <div id="tituloregistro">Propiedad Industrial e Intelectual</div>
            <small>
            </small>
</h1>
</div>
<input type="hidden" name="tipo_registro" id="tipo_registro" value="0">
<div class="row">
    <div class="col-md-12">
        <div class="panel ctm-panel" id="">
            <div class="panel-container ctm-panel-container show">
                <div class="panel-content ctm-panel-content">
                    <div id="table-container">
                        @*-----*@
                        @(Html.DevExtreme().DataGrid<RegistroMarca>
                            ()
                            .ID("tabla01")
                            .ShowBorders(true)
                            .Scrolling(scrolling => scrolling.RowRenderingMode(GridRowRenderingMode.Virtual))
                            .Paging(paging => paging.PageSize(10))
                            .Pager(pager =>
                            {
                                pager.Visible(true);
                                //pager.DisplayMode(GridPagerDisplayMode.Full);
                                pager.ShowPageSizeSelector(true);
                                pager.AllowedPageSizes(new JS("[10, 20, 50, 100]"));
                                pager.ShowInfo(true);
                                pager.ShowNavigationButtons(true);
                            })
                            .DataSource(d => d.WebApi().Controller("Tablas").LoadAction("Get").Key("id").LoadParams(new { _params = new JS("function() { return buildValidationSuggestionRequest(); }") }))
                            .Columns(columns =>
                            {
                            columns.AddFor(m => m.id).CellTemplate(@<text>
                                    <div class="row">
                                         <div class="col-md-6">
                                             @*<button type="button" class="dx-oc-link"  onclick='VerMarca(<%- value %>);' title="Ver información"><i class="fa fa-eye"></i></button>*@
                                             <a type="button" class="dx-oc-link" href="<%- data.permalink %>&desabilita=1" title="Ver Info"><i class="fa fa-eye"></i> </a>
                                         </div>
                                        <div class="col-md-6">
                                            <a type="button" class="dx-oc-link" href="<%- data.permalink %>&desabilita=0" title="Editar"><i class="fa fa-edit"></i> </a>
                                        </div>
                                    </div>
                                </text>).Caption("ACCIONES").Width(150);
                                @*columns.AddFor(m => m.solicitud_tipo_desc).Caption("TIPO DE SOLICITUD");*@
                                @*columns.AddFor(m => m.solicitud_tipo_desc).CellTemplate(@<text>
                                    <% if (data.activo == false) { %>
                                    <div>
                                        <span class="dx-active-off"></span>
                                        <%- value %>
                                    </div>
                                    <% } else { %>
                                    <div>
                                        <span class="dx-active-on"></span>
                                        <%- value %>
                                    </div>
                                    <% } %>
                                </text>).Caption("TIPO DE SOLICITUD");*@
                                //columns.AddFor(m => m.nombre).Caption("NOMBRE");
                                columns.AddFor(m => m.nombre).CellTemplate(@<text>
                                    <% if (data.activo == false) { %>
                                    <div>
                                        <span class="dx-active-off"></span>
                                        <%- value %>
                                    </div>
                                    <% } else { %>
                                    <div>
                                        <span class="dx-active-on"></span>
                                        <%- value %>
                                    </div>
                                    <% } %>
                                </text>).Caption("NOMBRE");
                                columns.AddFor(m => m.no_solicitud).Caption("No SOLICITUD");
                                columns.AddFor(m => m.no_registro).Caption("No REGISTRO");
                                columns.AddFor(m => m.empresa_desc).Caption("EMPRESA PROPIETARIA");
                                columns.AddFor(m => m.pais_desc).Caption("PAIS");
                                columns.AddFor(m => m.clase_desc).Caption("CLASE");
                                @*columns.AddFor(m => m.estatus_desc).CellTemplate(@<text>
                                    <% if (data.estatus == 3 || data.estatus == 8 || data.estatus == 9) { %>
                                    <div>
                                        <span style="background-color: #FF0000; color: white;"><%- value %></span>
                                    </div>
                                    <% } else if(data.estatus == 6) { %>
                                    <div>
                                        <span style="background-color: #FFF111;"><%- value %></span>
                                    </div>
                                    <% } else if(data.estatus == 7) { %>
                                    <div>
                                        <span style="background-color: #B011FF; color: white; "><%- value %></span>
                                    </div>
                                    <% } else { %>
                                    <div>
                                        <%- value %>
                                    </div>
                                    <% } %>
                                </text>).Caption("ESTATUS");*@
                                columns.AddFor(m => m.estatus_desc).CellTemplate(@<text>
                                    <% if (data.estatus == 6) { %>
                                    <div>
                                        <span style="background-color: #FF0000; color: white;"><%- value %></span>
                                    </div>
                                    <% } else { %>
                                    <div>
                                        <%- value %>
                                    </div>
                                    <% } %>
                                </text>).Caption("ESTATUS");
                                //columns.AddFor(m => m.estatus_desc).Caption("ESTATUS");
                                //columns.AddFor(m => m.fc).Caption("FECHA DE REGISTRO").Format("dd/MM/yyyy");
                            })
                            .Summary(s => s.TotalItems(items =>{
                                items.Add().Column("nombre")
                                .SummaryType(SummaryType.Count);
                            })
                            )
                            .ColumnAutoWidth(true)
                            .SearchPanel(p => p.Visible(true).Placeholder("Buscar"))
                            .Paging(p => p.PageSize(10))
                            .FilterRow(f => f.Visible(true))
                            .HeaderFilter(f => f.Visible(true))

                            )


                    </div>
                </div>
            </div>

        </div>
    </div>

    @section Modals {
        <div id="alertModal" class="modal fade ctm-modal" role="dialog" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title"></h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <h1></h1>

                        <div class="modal-spinner text-center">
                            <img src="~/Content/images/spinner.gif" />
                        </div>

                        <div class="form-group">
                        </div>
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>
        <div id="modalview1" class="modal fade ctm-modal" role="dialog" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title"></h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <section class="tabs-nobg">
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#tab01" role="tab"><i class="fa fa-info mr-1"></i> General</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#tab02" role="tab"><i class="fa fa-file mr-1"></i> En registro</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#tab03" role="tab"><i class="fa fa-file mr-1"></i> Licencias</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#tab04" role="tab"><i class="fa fa-file mr-1"></i> Cesiones</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#tab05" role="tab"><i class="fa fa-calendar mr-1"></i> Actividades</a>
                                </li>
                                @*<li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#tab06" role="tab"><i class="fa fa-file mr-1"></i> Revisión Usuario Negocio</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#tab07" role="tab"><i class="fa fa-file mr-1"></i> Oficios</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#tab08" role="tab"><i class="fa fa-file mr-1"></i> Renovación</a>
                                </li>*@
                            </ul>
                            <div class="tab-content border border-top-0 p-3">
                                <div class="tab-pane fade active show" id="tab01" role="tabpanel">
                                    <table class="table table-hover" id="tablita">
                                    </table>
                                </div>
                                <div class="tab-pane fade" id="tab02" role="tabpanel">
                                    <table class="table table-hover" id="tablita1">
                                    </table>
                                </div>
                                <div class="tab-pane fade" id="tab03" role="tabpanel">
                                    <table class="table table-hover" id="tablita2">
                                    </table>
                                </div>
                                <div class="tab-pane fade" id="tab04" role="tabpanel">
                                    <table class="table table-hover" id="tablita3">
                                    </table>
                                </div>
                                <div class="tab-pane fade" id="tab05" role="tabpanel">
                                    <table class="table table-hover" id="tablita4">
                                    </table>
                                </div>
                            </div>
                        </section>
                        @*<label>General</label>
                        
                        <br />
                        <label>En registro</label>*@
                        
                        <div class="modal-footer red-border">
                            <div class="col-md-2"></div>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-ban"></i> Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }


    @section Scripts {
        <script src="@Url.Content("~/Content/plugins/slick-master/slick/slick.js")" type="text/javascript" charset="utf-8"></script>
        <script src="@Url.Content("~/Content/plugins/select2/dist/js/select2.full.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Content/plugins/bootstrap-select/bootstrap-select.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Content/smartadmin/js/formplugins/bootstrap-datepicker/bootstrap-datepicker.js")"></script>
        <script src="@Url.Content("~/Content/smartadmin/js/formplugins/bootstrap-daterangepicker/bootstrap-daterangepicker.js")"></script>

        <script src="@Url.Content("~/Content/plugins/dropzone/dropzone.js")"></script>
        <script type="text/javascript">
        </script>

        <script type="text/javascript">
        var START_DATE = "@Html.Raw(DateTime.Now.AddDays(-60).ToString("yyyy-MM-dd"))";
        var END_DATE = "@Html.Raw(DateTime.Now.ToString("yyyy-MM-dd"))";

        var url = new URL(location.href); //Mediante esta propiedad accedemos a la dirección URL completa de la página mostrada en una ventana
        const urlParams = new URLSearchParams(url.search);
        var tipo_registro = urlParams.get('tipo');

        //var tipourl = parseInt($("#tipo_registro").val());
        //if (tipourl == 0) tipourl = 1;
        switch (parseInt(tipo_registro)) {
            case 1: tipo_solicitud = 1; tipo_solicitud_nombre = "Propiedad Industrial Marcas"; break;
            case 2: tipo_solicitud = 2; tipo_solicitud_nombre = "Propiedad Industrial Avisos Comerciales"; break;
            case 3: tipo_solicitud = 3; tipo_solicitud_nombre = "Propiedad Industrial Patentes"; break;
            case 4: tipo_solicitud = 4; tipo_solicitud_nombre = "Propiedad Industrial Diseños Industriales"; break;
            case 5: tipo_solicitud = 5; tipo_solicitud_nombre = "Propiedad Industrial Modelos Utilidades"; break;
            case 6: tipo_solicitud = 6; tipo_solicitud_nombre = "Propiedad Industrial Modelos Industriales"; break;
            case 7: tipo_solicitud = 7; tipo_solicitud_nombre = "Propiedad Intelectual Obras Artisticas"; break;
            case 8: tipo_solicitud = 8; tipo_solicitud_nombre = "Propiedad Intelectual Obras Visuales"; break;
            case 9: tipo_solicitud = 9; tipo_solicitud_nombre = "Propiedad Intelectual Obras Literarias"; break;
            case 10: tipo_solicitud = 10; tipo_solicitud_nombre = "Propiedad Intelectual Obras Auditivas"; break;
            case 11: tipo_solicitud = 11; tipo_solicitud_nombre = "Propiedad Intelectual Obras Gr&aacute;ficas"; break;
            case 12: tipo_solicitud = 12; tipo_solicitud_nombre = "Propiedad Intelectual Obras Tecnol&oacute;gicas"; break;
            default: tipo_solicitud = 0; tipo_solicitud_nombre = "Propiedad Industrial e Intelectual"; break;
        }
        document.getElementById("tipo_registro").value = tipo_solicitud;

        var valReqData = {
            ID: 0,
            START_DATE: START_DATE,
            END_DATE: END_DATE,
            USUARIO: "@ViewBag.ul.id",
            STR: "aa",
            TIPO: "RegistroMarca",
            TIPO_REGISTRO: tipo_solicitud
        };
        var tipo = valReqData.TIPO;
        function buildValidationSuggestionRequest() {
            return JSON.stringify(valReqData);
        }


        function reloadDataRange() {
            $("#table-container").show();
            $("#tabla01").dxDataGrid("getDataSource").reload();
        }
        $(document).ready(function () {
            $("#tabla01 .dx-toolbar-after").prepend("<a class='btn btn-info btn-sm' href='" + hosturl + "PI/RegistroMarca?tipo=" + tipo_solicitud + "'><i class='fa fa-plus'></i> Nuevo registro</button>");
        });

        setTimeout(function () {
            var nFilas = $("#tabla01 tr").length-4;
            //var nColumnas = $("#tabla01 tr:last td").length;
            //var msg = "Filas: " + nFilas + " - Columnas: " + nColumnas;
            //alert(msg);
            //document.getElementById("tituloregistro").innerHTML = "" + tipo_solicitud_nombre + " (" + nFilas+")";
            //var nrows = 0; var nres = 0;
            //$("#tabla01 tboby").each(function () {
            //    nrows++;
            //})
            //alert(nrows);
            //var table = document.getElementById("tabla01").getVisibleRows();
            //var table = $("#tabla01").getVisibleRows();
            //var tbody = table.tBodies[1];
            // En lugar de alert, actualiza el valor del campo
            //document.querySelector('#filas').value = tbody.rows.length;
            //var nFilas = tbody.rows.length;
            //var nFilas = table.rows.length;
            //var rows = document.getElementById("tabla01").getVisibleRows();
            //var visibleRows = rows.filter(function (row) {
            //    return row.rowType == "data";
            //});
            //var rowCount = visibleRows.length;
            //alert(rowCount);
            document.getElementById("tituloregistro").innerHTML = "" + tipo_solicitud_nombre;
            //document.getElementById("tituloregistro").innerHTML = "" + tipo_solicitud_nombre + " (" + nFilas + ")";
        }, 800);
           
        </script>
        <script src="@Url.Content("~/Content/js/admin_registromarcas.js?t=" + DateTime.Now.Ticks.ToString())"></script>
    }
