@using GISMVC.Models;
@using Newtonsoft.Json;
@{
    ViewData["Title"] = ViewBag.pagina.nombre;
    Layout = "~/Views/Shared/_admin.cshtml";
}

@section permisos {
    <script type="text/javascript">
        @*
            mp_p = @Html.Raw(Json.Serialize(ViewBag.mp_p));
        *@
    </script>
}

@section ol {
    @*<ol class="breadcrumb page-breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0);">SmartAdmin</a></li>
            <li class="breadcrumb-item">Application Intel</li>
            <li class="breadcrumb-item active">Introduction</li>
            <li class="position-absolute pos-top pos-right d-none d-sm-block"><span class="js-get-date"></span></li>
        </ol>*@
}

@section metas {
    <meta name="title" content="@ViewBag.pagina.nombre">
    <meta name="description" content="@ViewBag.pagina.descripcion">
    <meta name="keywords" content="@Html.Raw(ViewBag.pagina.keywords)">
}

@section Styles {
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/plugins/slick-master/slick/slick.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/plugins/slick-master/slick/slick-theme.css")">
    <link href="@Url.Content("~/Content/plugins/select2/dist/css/select2.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/plugins/bootstrap-select/bootstrap-select.min.css")" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/plugins/datatables/media/css/dataTables.bootstrap4.css")">
    <link rel="stylesheet" media="screen, print" href="@Url.Content("~/Content/smartadmin/css/formplugins/bootstrap-datepicker/bootstrap-datepicker.css")">
    <link rel="stylesheet" media="screen, print" href="@Url.Content("~/Content/css/jquery-ui.css")">
    <link rel="stylesheet" media="screen, print" href="@Url.Content("~/Content/smartadmin/css/formplugins/bootstrap-daterangepicker/bootstrap-daterangepicker.css")">
    <style>
        .slick-slide {
            margin: 0px 10px;
        }

            .slick-slide img {
                width: 98%;
            }

        .slick-prev:before,
        .slick-next:before {
            color: #002b50;
        }


        .slick-slide {
            transition: all ease-in-out .3s;
            opacity: 1;
        }

        .slick-active {
            opacity: 1;
        }

        .slick-current {
            opacity: 1;
        }

        td[role="columnheader"] .dx-datagrid-text-content.dx-header-filter-indicator {
            white-space: break-spaces;
        }

        .columm-color-00 {
            /*background-color: blue;*/
        }

        .select2-container--default .select2-results__option[aria-disabled=true] {
            display: none;
        }
    </style>
}
<div class="subheader">
    <h1 class="subheader-title">
        @*Registro Marca*@
        Registro Propiedad Industrial e Intelectual
        <small>
        </small>
    </h1>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel ctm-panel" id="">
            <div class="panel-container ctm-panel-container show">
                <div class="panel-content ctm-panel-content">
                    <section class="tabs-nobg">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#tab01" role="tab"><i class="fa fa-info mr-1"></i> General</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tab02" role="tab"><i class="fa fa-file mr-1"></i> En registro</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tab03" role="tab"><i class="fa fa-file mr-1"></i> Licencias</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tab04" role="tab"><i class="fa fa-file mr-1"></i> Cesiones</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tab05" role="tab"><i class="fa fa-file mr-1"></i> Actividades</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tab06" role="tab"><i class="fa fa-file mr-1"></i> Revisión Usuario Negocio</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tab07" role="tab"><i class="fa fa-file mr-1"></i> Oficios</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tab08" role="tab"><i class="fa fa-file mr-1"></i> Renovación</a>
                            </li>
                        </ul>
                        <div class="tab-content border border-top-0 p-3">
                            <div class="tab-pane fade active show" id="tab01" role="tabpanel">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group" id="uu_02_c">
                                            <label for="uu_02">Tipo de solicitud <font size="4" style="color:#FF0000"> * </font></label>
                                            <select class="select2 form-control input-sm custom-select" id="uu_02" autocomplete="off" style="width: 100%;">
                                                @*<option value="0" disabled selected>Seleccione una opción</option>*@
                                                @foreach (TipoSolicitud item in ViewBag.tipo_solicitud)
                                                {
                                                    <option value="@item.id">@item.nombre</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group" id="uu_021_c">
                                            <label for="uu_021">Solicitud <font size="4" style="color:#FF0000"> * </font></label>
                                            <select class="select2 form-control input-sm custom-select" id="uu_021" autocomplete="off" style="width: 100%;">
                                                <option value="0" tipo="0" pais="0" empresa="0" usuario="" disabled selected>Seleccione una opción</option>
                                                @*<option value="@item.id" tipo="@item.tipo" pais="@item.pais" empresa="@item.empresa" usuario="@item.usuario">@(item.tipo + " " + item.nombre)</option>*@
                                                @foreach (Solicitud item in ViewBag.solicitud)
                                                {
                                                    if (@item.tipo == 1)
                                                    {
                                                        <option value="@item.id" tipo="@item.tipo">@item.nombre</option>
                                                    }
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group" id="uu_022_c">
                                            @*<label>Descripción corta</label>*@
                                            <label>Nombre <font size="4" style="color:#FF0000"> * </font></label>
                                            <input type="text" class="form-control input-sm" id="uu_022" autocomplete="off" />
                                        </div>
                                    </div>
                                    <div class="col-md-3" id="uu_38_a" style="display:none;">
                                        <div class="form-group" id="uu_38_c">
                                            <label>Autor <font size="4" style="color:#FF0000"> * </font></label>
                                            <input type="text" class="form-control input-sm" id="uu_38" autocomplete="off" />
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group" id="uu_00_c">
                                            <label for="uu_00">Empresa propietaria <font size="4" style="color:#FF0000"> * </font></label>
                                            <select class="select2 form-control input-sm custom-select" id="uu_00" autocomplete="off" style="width: 100%;">
                                                <option value="0" disabled selected>Seleccione una opción</option>
                                                @foreach (NegocioPI item in ViewBag.empresa)
                                                {
                                                    <option value="@item.id">@item.nombre</option>
                                                }
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group" id="uu_01_c">
                                            <label for="uu_01">Antigua empresa propietaria <font size="4" style="color:#FF0000"> * </font></label>
                                            <select class="select2 form-control input-sm custom-select" id="uu_01" autocomplete="off" style="width: 100%;">
                                                @*<option value="0" selected>Antigua empresa propietaria</option>*@
                                                <option value="0" disabled selected>Seleccione una opción</option>
                                                @foreach (NegocioPI item in ViewBag.empresa)
                                                {
                                                    <option value="@item.id">@item.nombre</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group" id="uu_03_c">
                                            <label>Número de registro <font size="4" style="color:#FF0000"> * </font></label>
                                            <input type="text" class="form-control input-sm" id="uu_03" autocomplete="off" />
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group" id="uu_04_c">
                                            <label>Fecha legal <font size="4" style="color:#FF0000"> * </font></label>
                                            <input type="text" class="form-control input-sm" id="uu_04" autocomplete="off" readonly />
                                        </div>
                                    </div>
                                    <div class="col-md-3" id="uu_05_a">
                                        <div class="form-group" id="uu_05_c">
                                            <label>Fecha de vencimiento <font size="4" style="color:#FF0000"> * </font></label>
                                            <input type="text" class="form-control input-sm" id="uu_05" autocomplete="off" readonly />
                                        </div>
                                    </div>

                                    <div class="col-md-3" id="uu_06_a">
                                        <div class="form-group" id="uu_06_c">
                                            <label id="uu_06_l">Fecha de concesión <font size="4" style="color:#FF0000"> * </font></label>
                                            <input type="text" class="form-control input-sm" id="uu_06" autocomplete="off" readonly />
                                        </div>
                                    </div>
                                    <div class="col-md-3" id="uu_07_a">
                                        <div class="form-group" id="uu_07_c">
                                            <label for="uu_07">Clase <font size="4" style="color:#FF0000"> * </font></label>
                                            <select class="select2 form-control input-sm custom-select" id="uu_07" autocomplete="off" style="width: 100%;">
                                                <option value="0" disabled selected>Seleccione una opción</option>
                                                @foreach (Clase item in ViewBag.clase)
                                                {
                                                    <option value="@item.id">@item.nombre</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-3" id="uu_09_a">
                                        <div class="form-group" id="uu_09_c">
                                            <label for="uu_09">País <font size="4" style="color:#FF0000"> * </font></label>
                                            <select class="select2 form-control input-sm custom-select" id="uu_09" autocomplete="off" style="width: 100%;">
                                                <option value="0" disabled selected>Seleccione una opción</option>
                                                @foreach (Pais item in ViewBag.pais)
                                                {
                                                    <option value="@item.id">@item.nombre</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group" id="uu_10_c">
                                            <label for="uu_10">Estatus <font size="4" style="color:#FF0000"> * </font></label>
                                            <select class="select2 form-control input-sm custom-select" id="uu_10" autocomplete="off" style="width: 100%;">
                                                <option value="0" disabled selected>Seleccione una opción</option>
                                                @foreach (EstatusCatalogo item in ViewBag.estatus)
                                                {
                                                    <option value="@item.id">@item.nombre</option>
                                                }
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-3" style="display:none;">
                                        <div class="form-group" id="uu_08_c">
                                            <label for="uu_08">Tipo de registro <font size="4" style="color:#FF0000"> * </font></label>
                                            <select class="select2 form-control input-sm custom-select" id="uu_08" autocomplete="off" style="width: 100%;">
                                                <option value="0" disabled selected>Seleccione una opción</option>
                                                @foreach (TipoRegistro item in ViewBag.tipo_registro)
                                                {
                                                    <option value="@item.id">@item.nombre</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-3" id="uu_37_a" style="display:none;">
                                        <div class="form-group" id="uu_37_c">
                                            <label id="uu_06_l">Fecha para pagar los quinquenios o anualidades <font size="4" style="color:#FF0000"> * </font></label>
                                            <input type="text" class="form-control input-sm" id="uu_37" autocomplete="off" readonly />
                                        </div>
                                    </div>
                                    <div class="col-md-3" id="uu_34_a" style="display:none;">
                                        <div class="form-group" id="uu_34_c">
                                            <label for="uu_34">Tipo de pago <font size="4" style="color:#FF0000"> * </font></label>
                                            <select class="select2 form-control input-sm custom-select" id="uu_34" autocomplete="off" style="width: 100%;">
                                                <option value="0" disabled selected>Seleccione una opción</option>
                                                @foreach (TipoPago item in ViewBag.tipo_pago)
                                                {
                                                    <option value="@item.id">@item.nombre</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-3" id="uu_35_a" style="display:none;">
                                        <div class="form-group" id="uu_35_c">
                                            <label>Prioridad</label>
                                            <input type="text" class="form-control input-sm" id="uu_35" autocomplete="off" />
                                        </div>
                                    </div>
                                    <div class="col-md-3" id="uu_36_a" style="display:none;">
                                        <div class="form-group" id="uu_36_c">
                                            <label>Fecha de vencimiento de prioridad</label>
                                            <input type="text" class="form-control input-sm" id="uu_36" autocomplete="off" readonly />
                                        </div>
                                    </div>
                                    <div class="col-md-3" id="uu_39_a">
                                        <div class="form-group" id="uu_39_c">
                                            <label for="uu_39">Uso <font size="4" style="color:#FF0000"> * </font></label>
                                            <select class="select2 form-control input-sm custom-select" id="uu_39" autocomplete="off" style="width: 100%;">
                                                <option value="0" disabled selected>Seleccione una opción</option>
                                                @foreach (Uso item in ViewBag.uso)
                                                {
                                                    <option value="@item.id">@item.nombre</option>
                                                }
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group" id="notificacion_tituloc">
                                            <label>Correo de notificación de título</label>
                                            <input type="text" class="form-control input-sm" id="notificacion_titulo" autocomplete="off" />
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group" id="notificacion_vencimientoc">
                                            <label>Correo de notificación de vencimiento</label>
                                            <input type="text" class="form-control input-sm" id="notificacion_vencimiento" autocomplete="off" />
                                        </div>
                                    </div>
                                </div>
                                @*<div class="row" id="uso_check">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="uso">
                                                <label class="custom-control-label" for="uso">Uso</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>*@
                                                        @*<div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group" id="notificacion_tituloc">
                                            <label>Correo de notificación de título</label>
                                            <input type="text" class="form-control input-sm" id="notificacion_titulo" autocomplete="off" />
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group" id="notificacion_vencimientoc">
                                            <label>Correo de notificación de vencimiento</label>
                                            <input type="text" class="form-control input-sm" id="notificacion_vencimiento" autocomplete="off" />
                                        </div>
                                    </div>
                                </div>*@
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group" id="titulot" style="margin:0 !important;">
                                            <label>Título</label>
                                        </div>
                                        <div class="form-group" id="tituloc">
                                            <a href="" id="titulol" class="btn btn-sm btn-success"><i class="fa fa-download"></i> Descargar documento</a>
                                            <label for="titulo" class="btn btn-sm btn-info btn-lbl"><i class="fa fa-upload"></i> Seleccionar archivo</label>
                                            <input type="file" id="titulo" style="display:none;" />
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="form-group" style="margin:0 !important;">
                                            <label>Observaciones</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="text-right">
                                            <button class='btn btn-sm btn-info btn-comentario' id="Comentarios1" onclick='ModalComentario(1);'><i class='fa fa-plus'></i> Agregar comentario</button>
                                            <br /><br />
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <ul class="ctm-ul-list ctm-comentarios" id="general">
                                            <li class="ctm-comentario">
                                                <div class="ctm-comentario-body">
                                                    <p>No hay comentarios aún</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>@*tab01*@

                            <div class="tab-pane fade" id="tab02" role="tabpanel">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group" id="uu_11_c">
                                            <label>Número de solicitud <font size="4" style="color:#FF0000"> * </font></label>
                                            <input type="text" class="form-control input-sm" id="uu_11" autocomplete="off" />
                                        </div>
                                    </div>
                                    <div class="col-md-3" id="uu_12_a">
                                        <div class="form-group" id="uu_12_c">
                                            <label for="uu_12">Tipo de registro <font size="4" style="color:#FF0000"> * </font></label>
                                            <select class="select2 form-control input-sm custom-select" id="uu_12" autocomplete="off" style="width: 100%;">
                                                <option value="0" disabled selected>Seleccione una opción</option>
                                                @foreach (TipoRegistro item in ViewBag.tipo_registro_solicitud)
                                                {
                                                    <option value="@item.id">@item.nombre</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group" id="uu_13_c">
                                            <label for="uu_13">Persona que pidió el registro <font size="4" style="color:#FF0000"> * </font></label>
                                            <select class="select2 form-control input-sm custom-select" id="uu_13" autocomplete="off" style="width: 100%;">
                                                <option value="0" disabled selected>Seleccione una opción</option>
                                                @foreach (AspNetUsers item in ViewBag.usuarios)
                                                {
                                                    <option value="@item.id">@item.nombre</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group" id="uu_14_c">
                                            <label for="uu_14">Despacho <font size="4" style="color:#FF0000"> * </font></label>
                                            <select class="select2 form-control input-sm custom-select" id="uu_14" autocomplete="off" style="width: 100%;">
                                                <option value="0" disabled selected>Seleccione una opción</option>
                                                @foreach (Despacho item in ViewBag.despacho)
                                                {
                                                    <option value="@item.id">@item.nombre</option>
                                                }
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group" id="uu_15_c">
                                            <label for="uu_15">Corresponsal</label>
                                            <select class="select2 form-control input-sm custom-select" id="uu_15" autocomplete="off" style="width: 100%;">
                                                <option value="0" disabled selected>Seleccione una opción</option>
                                                @foreach (Corresponsal item in ViewBag.corresponsal)
                                                {
                                                    <option value="@item.id">@item.nombre</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group" id="solicitudt" style="margin:0 !important;">
                                            <label>Solicitud</label>
                                        </div>
                                        <div class="form-group" id="solicitudc">
                                            <a href="" id="solicitudl" class="btn btn-sm btn-success"><i class="fa fa-download"></i></a>
                                            <label for="solicitud" class="btn btn-sm btn-info btn-lbl"><i class="fa fa-upload"></i> Seleccionar archivo</label>
                                            <input type="file" id="solicitud" style="display:none;" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row" id="contrato_a" style="display:none;">
                                    <div class="col-md-12">
                                        <div class="form-group" id="contratot" style="margin:0 !important;">
                                            <label>Contrato de cesión de derechos del inventor</label>
                                        </div>
                                        <div class="form-group" id="contratoc">
                                            <a href="" id="contratol" class="btn btn-sm btn-success"><i class="fa fa-download"></i> Descargar documento</a>
                                            <label for="contrato" class="btn btn-sm btn-info btn-lbl"><i class="fa fa-upload"></i> Seleccionar archivo</label>
                                            <input type="file" id="contrato" style="display:none;" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row" id="reivindicacion_a" style="display:none;">
                                    <div class="col-md-12">
                                        <div class="form-group" id="reivindicaciont" style="margin:0 !important;">
                                            <label>Reivindicaciones</label>
                                        </div>
                                        <div class="form-group" id="reivindicacionc">
                                            <a href="" id="reivindicacionl" class="btn btn-sm btn-success"><i class="fa fa-download"></i> Descargar documento</a>
                                            <label for="reivindicacion" class="btn btn-sm btn-info btn-lbl"><i class="fa fa-upload"></i> Seleccionar archivo</label>
                                            <input type="file" id="reivindicacion" style="display:none;" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row" id="carta_a" style="display:none;">
                                    <div class="col-md-12">
                                        <div class="form-group" id="cartat" style="margin:0 !important;">
                                            <label>Carta colaboración renumerada</label>
                                        </div>
                                        <div class="form-group" id="cartac">
                                            <a href="" id="cartal" class="btn btn-sm btn-success"><i class="fa fa-download"></i></a>
                                            <label for="carta" class="btn btn-sm btn-info btn-lbl"><i class="fa fa-upload"></i> Seleccionar archivo</label>
                                            <input type="file" id="carta" style="display:none;" />
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="form-group" style="margin:0 !important;">
                                            <label>Observaciones</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="text-right">
                                            <button class='btn btn-sm btn-info btn-comentario' id="Comentarios2" onclick='ModalComentario(2);'><i class='fa fa-plus'></i> Agregar comentario</button>
                                            <br /><br />
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <ul class="ctm-ul-list ctm-comentarios" id="registro">
                                            <li class="ctm-comentario">
                                                <div class="ctm-comentario-body">
                                                    <p>No hay comentarios aún</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>@*tab02*@

                            <div class="tab-pane fade" id="tab03" role="tabpanel">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group" id="uu_16_c">
                                            <label>Persona que solicitó la licencia <font size="4" style="color:#FF0000"> * </font></label>
                                            <input type="text" class="form-control input-sm" id="uu_16" autocomplete="off" />
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group" id="uu_17_c">
                                            <label for="uu_17">Licencia <font size="4" style="color:#FF0000"> * </font></label>
                                            <select class="select2 form-control input-sm custom-select" id="uu_17" autocomplete="off" style="width: 100%;">
                                                <option value="0" disabled selected>Seleccione una opción</option>
                                                @foreach (ConvenioLicencia item in ViewBag.licencia)
                                                {
                                                    <option value="@item.id">@item.nombre</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>@*tab03*@

                            <div class="tab-pane fade" id="tab04" role="tabpanel">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group" id="uu_18_c">
                                            <label>Persona que solicitó la cesión <font size="4" style="color:#FF0000"> * </font></label>
                                            <input type="text" class="form-control input-sm" id="uu_18" autocomplete="off" />
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group" id="uu_19_c">
                                            <label for="uu_19">Cesión <font size="4" style="color:#FF0000"> * </font></label>
                                            <select class="select2 form-control input-sm custom-select" id="uu_19" autocomplete="off" style="width: 100%;">
                                                <option value="0" disabled selected>Seleccione una opción</option>
                                                @foreach (ContratoCesion item in ViewBag.cesion)
                                                {
                                                    <option value="@item.id">@item.nombre</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>@*tab04*@

                            <div class="tab-pane fade" id="tab05" role="tabpanel">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group" id="uu_21_c">
                                            <label>Requerimiento del negocio</label>
                                            <input type="text" class="form-control input-sm" id="uu_21" autocomplete="off" readonly />
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group" id="uu_210_c">
                                            <label>Completo</label>
                                            <input type="text" class="form-control input-sm" id="uu_210" autocomplete="off" readonly />
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group" id="uu_22_c">
                                            <label>Instrucciones al correponsal</label>
                                            <input type="text" class="form-control input-sm" id="uu_22" autocomplete="off" readonly />
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group" id="uu_220_c">
                                            <label>Completo</label>
                                            <input type="text" class="form-control input-sm" id="uu_220" autocomplete="off" readonly />
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group" id="uu_23_c">
                                            <label>
                                                Solicitud de registro ante la autoridad competente
                                            </label>
                                            <input type="text" class="form-control input-sm" id="uu_23" autocomplete="off" readonly />
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group" id="uu_230_c">
                                            <label>Completo</label>
                                            <input type="text" class="form-control input-sm" id="uu_230" autocomplete="off" readonly />
                                        </div>
                                    </div>

                                    <div class="col-md-3" id="uu_24_a">
                                        <div class="form-group" id="uu_24_c">
                                            <label>
                                                Solicitud de búsqueda
                                            </label>
                                            <input type="text" class="form-control input-sm" id="uu_24" autocomplete="off" readonly />
                                        </div>
                                    </div>
                                    <div class="col-md-3" id="uu_240_a">
                                        <div class="form-group" id="uu_240_c">
                                            <label>Completo</label>
                                            <input type="text" class="form-control input-sm" id="uu_240" autocomplete="off" readonly />
                                        </div>
                                    </div>

                                    <div class="col-md-3" id="uu_25_a">
                                        <div class="form-group" id="uu_25_c">
                                            <label id="uu_25_l">
                                                Información de resultados al negocio
                                            </label>
                                            <input type="text" class="form-control input-sm" id="uu_25" autocomplete="off" readonly />
                                        </div>
                                    </div>
                                    <div class="col-md-3" id="uu_250_a">
                                        <div class="form-group" id="uu_250_c">
                                            <label>Completo</label>
                                            <input type="text" class="form-control input-sm" id="uu_250" autocomplete="off" readonly />
                                        </div>
                                    </div>

                                    <div class="col-md-3" id="uu_26_a">
                                        <div class="form-group" id="uu_26_c">
                                            <label>
                                                Comprobación de uso
                                            </label>
                                            <input type="text" class="form-control input-sm" id="uu_26" autocomplete="off" readonly />
                                        </div>
                                    </div>
                                    <div class="col-md-3" id="uu_260_a">
                                        <div class="form-group" id="uu_260_c">
                                            <label>Completo</label>
                                            <input type="text" class="form-control input-sm" id="uu_260" autocomplete="off" readonly />
                                        </div>
                                    </div>

                                    <div class="col-md-3" style="display:none;">
                                        <div class="form-group" id="uu_27_c">
                                            <label>
                                                Vencimiento
                                            </label>
                                            <input type="text" class="form-control input-sm" id="uu_27" autocomplete="off" readonly />
                                        </div>
                                    </div>
                                    <div class="col-md-3" style="display:none;">
                                        <div class="form-group" id="uu_270_c">
                                            <label>Completo</label>
                                            <input type="text" class="form-control input-sm" id="uu_270" autocomplete="off" readonly />
                                        </div>
                                    </div>

                                    <div class="col-md-3" style="display:none;">
                                        <div class="form-group" id="uu_28_c">
                                            <label>
                                                Concesión
                                            </label>
                                            <input type="text" class="form-control input-sm" id="uu_28" autocomplete="off" readonly />
                                        </div>
                                    </div>
                                    <div class="col-md-3" style="display:none;">
                                        <div class="form-group" id="uu_280_c">
                                            <label>Completo</label>
                                            <input type="text" class="form-control input-sm" id="uu_280" autocomplete="off" readonly />
                                        </div>
                                    </div>
                                </div>
                            </div>@*tab05*@

                            <div class="tab-pane fade" id="tab06" role="tabpanel">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="vobo">
                                                <label class="custom-control-label" for="vobo">Dar Visto Bueno</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="form-group" style="margin:0 !important;">
                                            <label>Observaciones</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="text-right">
                                            <button class='btn btn-sm btn-info btn-comentario' id="Comentarios3" onclick='ModalComentario(3);'><i class='fa fa-plus'></i> Agregar comentario</button>
                                            <br /><br />
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <ul class="ctm-ul-list ctm-comentarios" id="revision">
                                            <li class="ctm-comentario">
                                                <div class="ctm-comentario-body">
                                                    <p>No hay comentarios aún</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <br />
                                <section class="text-right">
                                    <button type="button" class="btn btn-info" onclick="GuardarVoBo();" id="btnGuardarVoBo"><i class="fa fa-save"></i> Guardar</button>
                                </section>
                            </div>@*tab06*@

                            <div class="tab-pane fade" id="tab07" role="tabpanel">
                                <div class="form-group" id="doc00c">
                                    <div class="dropzone-container" style="border-color:#dadada !important;">
                                        <form action="" class="dropzone" id="dz-documentos01" method="post" enctype="multipart/form-data">
                                            <input type="file" name="file" style="display:none;" />
                                            <div class="dz-message" data-dz-message><span>Haz click aquí o arrastra aquí para cargar el documento</span></div>
                                        </form>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        @(Html.DevExtreme().DataGrid<Archivo>
                                        ()
                                        .ID("tabla01")
                                        .ShowBorders(true)
                                        .DataSource(new List<Archivo>())
                                        .Columns(columns =>
                                        {
                                            columns.AddFor(m => m.id).CellTemplate(@<text>
                                                <% if (data.id == 0) { %>
                                                <div>
                                                    <button type="button" class="ctm-tb-btn ctm-tb-btn-danger" onclick="Remover('<%- data.uuid %>')"><i class="fa fa-trash"></i></button>
                                                </div>
                                                <% } else { %>
                                                <div>
                                                    <a class="ctm-tb-btn ctm-tb-btn-success" href="<%- data.permalink %>" ><i class="fa fa-download"></i></a>
                                                </div>
                                                <% } %>
                                            </text>).Caption("Acciones").Width(150);
                                            columns.AddFor(m => m.nombre).Caption("Nombre");
                                            columns.AddFor(m => m.fc).Caption("Fecha subida").Format("dd/MM/yyyy").Width(150);
                                            columns.AddFor(m => m.cargado).CellTemplate(@<text>
                                                <% if (data.cargado == 0) { %>
                                                <div>
                                                    <span class="dx-active-off"></span>
                                                    Por cargar
                                                </div>
                                                <% } else { %>
                                                <div>
                                                    <span class="dx-active-on"></span>
                                                    Cargado
                                                </div>
                                                <% } %>
                                            </text>).Caption("Estatus").Width(150);
                                        })
                                        .ColumnAutoWidth(true)
                                        .SearchPanel(p => p.Visible(true).Placeholder("Buscar"))
                                        .Paging(p => p.PageSize(20))
                                        .FilterRow(f => f.Visible(true))
                                        .HeaderFilter(f => f.Visible(true))

                                        )
                                    </div>
                                </div>
                            </div>


                            <div class="tab-pane fade" id="tab08" role="tabpanel">
                                <div class="row" id="renovacion_check">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="renovacion">
                                                <label class="custom-control-label" for="renovacion">Crear renovación</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <section id="renovacion_info">
                                    <div class="row" style="">
                                        <div class="col-md-3">
                                            <div class="form-group" id="uu_29_c">
                                                <label>Solicita a la empresa instrucciones para renovar</label>
                                                <input type="text" class="form-control input-sm" id="uu_29" autocomplete="off" readonly />
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group" id="uu_290_c">
                                                <label>Completo</label>
                                                <input type="text" class="form-control input-sm" id="uu_290" autocomplete="off" readonly />
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group" id="uu_30_c">
                                                <label>Instrucciones al correponsal</label>
                                                <input type="text" class="form-control input-sm" id="uu_30" autocomplete="off" readonly />
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group" id="uu_300_c">
                                                <label>Completo</label>
                                                <input type="text" class="form-control input-sm" id="uu_300" autocomplete="off" readonly />
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group" id="uu_31_c">
                                                <label>
                                                    Solicitud de información a la empresa
                                                </label>
                                                <input type="text" class="form-control input-sm" id="uu_31" autocomplete="off" readonly />
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group" id="uu_310_c">
                                                <label>Completo</label>
                                                <input type="text" class="form-control input-sm" id="uu_310" autocomplete="off" readonly />
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group" id="uu_32_c">
                                                <label>
                                                    Envío de información a despacho
                                                </label>
                                                <input type="text" class="form-control input-sm" id="uu_32" autocomplete="off" readonly />
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group" id="uu_320_c">
                                                <label>Completo</label>
                                                <input type="text" class="form-control input-sm" id="uu_320" autocomplete="off" readonly />
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group" id="uu_33_c">
                                                <label>
                                                    Oficio de renovación
                                                </label>
                                                <input type="text" class="form-control input-sm" id="uu_33" autocomplete="off" readonly />
                                            </div>
                                        </div>
                                    </div>


                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group" id="oficiot" style="margin:0 !important;">
                                                <label>Oficio</label>
                                            </div>
                                            <div class="form-group" id="oficioc">
                                                <a href="" id="oficiol" class="btn btn-sm btn-success"><i class="fa fa-download"></i> Descargar documento</a>
                                                <label for="oficio" class="btn btn-sm btn-info btn-lbl"><i class="fa fa-upload"></i> Seleccionar archivo</label>
                                                <input type="file" id="oficio" style="display:none;" />
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </section>
                    <br />
                    <section class="text-right">
                        <button type="button" class="btn btn-default waves-effect waves-themed" onclick="window.location = '/PI/RegistroMarcas';" id="btnCancelar"><i class="fa fa-ban"></i> Cancelar</button>
                        <button type="button" class="btn btn-danger" onclick="Remover();" id="btnRemover" style="display:none;"><i class="fa fa-ban"></i> Remover</button>
                        <button type="button" class="btn btn-info" onclick="Guardar();" id="btnGuardar"><i class="fa fa-save"></i> Guardar</button>
                    </section>
                </div>
            </div>
        </div>

    </div>
</div>

@section Modals {
    <div id="alertModal" class="modal fade ctm-modal" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"></h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <h1></h1>

                    <div class="modal-spinner text-center">
                        <img src="~/Content/images/spinner.gif" />
                    </div>

                    <div class="form-group">
                    </div>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
    <div id="confirmaEliminar01" class="modal fade ctm-modal" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Cambio de estatus</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <p>Se necesita confirmación para desactivar los datos de este registro</p>
                    </div>
                </div>
                <div class="modal-footer red-border">
                    <div class="col-md-2"></div>
                    <div class="col-md-4">
                        <button type="button" class="btn btn-secondary btn-sm btn-block" data-dismiss="modal"><i class="fa fa-ban"></i> Cancelar</button>
                    </div>
                    <div class="col-md-4">
                        <button type="button" class="btn btn-cg btn-sm btn-block" onclick="ConfirmaEliminar01()"><i class="fa fa-check-circle"></i> Confirmar</button>
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>
        </div>
    </div>

    <div id="removerModal" class="modal fade ctm-modal" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Cambiar estatus del registro</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <p>Se necesita confirmación para cambiar el estatus de este registro</p>
                    </div>
                </div>
                <div class="modal-footer red-border">
                    <div class="col-md-2"></div>
                    <div class="col-md-4">
                        <button type="button" class="btn btn-secondary btn-sm btn-block" data-dismiss="modal"><i class="fa fa-ban"></i> Cancelar</button>
                    </div>
                    <div class="col-md-4">
                        <button type="button" class="btn btn-cg btn-sm btn-block" onclick="ConfirmaRemoverRegistro()"><i class="fa fa-check-circle"></i> Confirmar</button>
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>
        </div>
    </div>

    <div id="comentarioModal" class="modal fade ctm-modal" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Agregar comentario</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="modal-spinner text-center">
                        <img src="~/Content/images/spinner.gif" />
                    </div>
                    <div class="form-group" id="comentarioc">
                        <label>Comentario</label>
                        <input type="text" class="form-control input-sm" id="comentario" autocomplete="off" />
                    </div>
                    <div class="form-group errores"></div>
                </div>
                <div class="modal-footer red-border">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-ban"></i> Cancelar</button>
                    &nbsp;&nbsp;&nbsp;
                    <button type="button" class="btn btn-info" onclick="ConfirmaComentario()"><i class="fa fa-save"></i> Guardar</button>
                </div>
            </div>
        </div>
    </div>

    <div id="eliminarComentarioModal" class="modal fade ctm-modal" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Eliminar comentario</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="modal-spinner text-center">
                        <img src="~/Content/images/spinner.gif" />
                    </div>
                    <div class="form-group" id="">
                        <p>Se necesita confirmación para eliminar el comentario</p>
                    </div>
                    <div class="form-group errores"></div>
                </div>
                <div class="modal-footer red-border">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-ban"></i> Cancelar</button>
                    &nbsp;&nbsp;&nbsp;
                    <button type="button" class="btn btn-info" onclick="ConfirmaEliminarComentario()"><i class="fa fa-save"></i> Confirmar</button>
                </div>
            </div>
        </div>
    </div>

}


@section Scripts {
    <script src="@Url.Content("~/Content/plugins/slick-master/slick/slick.js")" type="text/javascript" charset="utf-8"></script>
    <script src="@Url.Content("~/Content/plugins/select2/dist/js/select2.full.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/plugins/bootstrap-select/bootstrap-select.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/smartadmin/js/formplugins/bootstrap-datepicker/bootstrap-datepicker.js")"></script>
    <script src="@Url.Content("~/Content/smartadmin/js/formplugins/bootstrap-daterangepicker/bootstrap-daterangepicker.js")"></script>
    <script type="text/javascript">
    </script>

    <script src="@Url.Content("~/Content/plugins/dropzone/dropzone.js")"></script>
    <script type="text/javascript">
        /*
        $(document).ready(function () {
            $("#tabla01 .dx-toolbar-after").prepend("<button class='btn btn-info btn-sm' onclick='ModalNuevo();'><i class='fa fa-plus'></i> Nuevo registro</button>");
        });*/
        var mainid = @ViewBag.mainid;
        var solicitudes = @Html.Raw(JsonConvert.SerializeObject(ViewBag.solicitud));
        console.log(solicitudes);
    </script>
    <script src="@Url.Content("~/Content/js/admin_registromarcadetalle.js?t=" + DateTime.Now.Ticks.ToString())"></script>
}